- hosts: localhost
  connection: local
  gather_facts: yes

  vars:
    ansible_python_interpreter: /home/ubuntu/ansible-venv/bin/python3   # Use venv Python
    docker_image: "{{ lookup('vars', 'docker_image') | default('nilay2497/myapp:latest') }}"
    namespace: "default"
    deployment_name: "myapp-deployment"
    service_name: "myapp-service"
    app_label: "myapp"
    container_port: 8080
    service_port: 8081

  tasks:

    - name: Ensure required Python libraries are installed in venv
      pip:
        name:
          - kubernetes
          - openshift
        state: present
        executable: /home/ubuntu/ansible-venv/bin/pip

    - name: Ensure Kubernetes namespace exists
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ namespace }}"

    - name: Create/Update Kubernetes Deployment
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: "{{ deployment_name }}"
            namespace: "{{ namespace }}"
          spec:
            replicas: 2
            selector:
              matchLabels:
                app: "{{ app_label }}"
            template:
              metadata:
                labels:
                  app: "{{ app_label }}"
              spec:
                containers:
                  - name: "{{ app_label }}"
                    image: "{{ docker_image }}"
                    ports:
                      - containerPort: "{{ container_port }}"
                    imagePullPolicy: Always

    - name: Create/Update Kubernetes Service
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: "{{ service_name }}"
            namespace: "{{ namespace }}"
          spec:
            selector:
              app: "{{ app_label }}"
            ports:
              - protocol: TCP
                port: "{{ service_port }}"
                targetPort: "{{ container_port }}"
            type: NodePort

